@page "/donations"
@layout DonateLayout

@inject NavigationManager NavigationManager

<PageTitle>Donations</PageTitle>

<div style="display: flex; align-items: center; margin-bottom: 16px">
    <RadzenButton Click="@ClearSelection" Text="Clear Selection" />
    @if (selectedItems?.Any() == true)
    {
        <div style="margin-left: 16px">
            Selected Item: @selectedItems[0].Item.Name
        </div>
    }

    @if (selectedItems == null || selectedItems[0].IsApproved != ApproveType.NotChecked)
    {
        <RadzenButton Click="@EditItem" Text="Edit" style="margin-left: auto" Disabled=true />
    }
    else
    {
        <RadzenButton Click="@EditItem" Text="Edit" style="margin-left: auto" />
    }
</div>

<RadzenDataGrid AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowPaging="true" PageSize="10"
                AllowSorting="true" Data="@requests" ColumnWidth="200px"
                SelectionMode="DataGridSelectionMode.Single" @bind-Value=selectedItems>
    <Columns>
        <RadzenDataGridColumn Property="RequestType" Title="Request Type" />
        <RadzenDataGridColumn Property="Item.Name" Title="Name" />
        <RadzenDataGridColumn Property="Item.Status" Title="Status" />
        <RadzenDataGridColumn Property="Item.Description" Title="Description" Width="300px"/>
        <RadzenDataGridColumn Property="Item.DonationLocation" Title="Location" />
        <RadzenDataGridColumn Title="Approved">
            <Template Context="data">
                <StatusIndicator IsApproved="@data.IsApproved" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>  
</RadzenDataGrid>

@code {
    private string? message;

    [CascadingParameter]
    private IList<GetDonationRequestDto> requests { get; set; }

    private IList<GetDonationRequestDto>? selectedItems;

    void ClearSelection()
    {
        if (selectedItems != null)
        {
            selectedItems.Clear();
            selectedItems = null;
        }
    }

    void EditItem()
    {
        StateHasChanged();
        if (selectedItems != null)
        {
            NavigationManager.NavigateTo($"donations/edit/{selectedItems[0].Item.Guid}");
        }
    }
}
